<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Addreview - TastyYummy</title>
    <link rel="icon" type="image/png" href="https://www.flaticon.com/svg/static/icons/svg/1091/1091585.svg">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
</head>
<body>
<style>

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
 /* เปลี่ยนขนาดรูปภาพ */
.hero-image {
   background-color: #fdffd1;
  height: 700%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #ffcff4;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #fff68f;
  color: #333;
}

</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="/index">Tasty Yummy</a>
  <a class="nav-link" href="/index">Home <span class="sr-only"> </span></a>
  <a href="/signup">Signup</a>
  <a href="/">Login</a>
  <a href="/logout">Logout</a>
  <a href="/restaurant">Restaurant</a>
  <a href="/drink">Drink</a>
  <a href="/contact">Contact</a>
  <a href="/addreviews">Addreviews</a>
  <p style="text-align:right">  สวัสดี! admin {{user}}</p>
</div>
<div class="hero-image">
    <div class="hero-text">
</div>
<br>
<div class="container p-3 my-3 bg-white text-black">
  <center><h1 style="font-size:30px" >Reviews</h1></center>
  <br>
  <p style="font-size:25px" >ชื่อร้าน : MA MARS cafe ดาวอังคารกำลังนั่งยานไปดาวสุข</p>
  <br>
  <p style="font-size:20px" > MA MARS cafe หรือร้าน "ดาวอังคารกำลังนั่งยานไปดาวสุข" ดูแค่ชื่อร้านก็สนุกแล้วค่ะ แล้วคนอยากให้มีดาวสุขเกิดขึ้นจริงๆ ไปแล้วจะได้สุขใจทุกเวลา ใครอยากพบเจอความสุขที่มีทั้งกาแฟและเค้ก ราคาที่คุ้มค่าตรงใจพร้อมใช้วัตถุดิบดีในการทำขนมและกาแฟ หากได้มาเชียงใหม่เมื่อไรอย่าลืมแวะร้านนี้นะคะ ราคากาแฟ อยู่ที่ 50 บาท ส่วนขนม เริ่มที่ 45 บาท เมนูน่าลองที่อยากบอกบานอฟฟี่ดาวอังคาร กล้วยหอมตุ๋นเนยกับคาราเมลสุดเข้ม คาราเมลเน้นๆ ในบานอฟฟี่ ส่วนเมนูของคาวคือข้าวกะเพราหมูกรอบดาวอังคาร แต่จะกรอบไปถึงดาวเนปจูนต้องมาลองด้วยตัวเองค่ะ</p>
  <p style="font-size:20px">ที่อยู่ตำบลบ้านแหวน อำเภอหางดง จังหวัดเชียงใหม่
  <p style="font-size:20px">เบอร์ติดต่อ099-xxxx112</p>
  <p style="font-size:20px">เวลา เปิด-ปิด-</p>
  <p style="font-size:20px">ประเภทร้านCafe ( คาเฟ่ )</p>
</div>

<div class="container p-3 my-3 bg-white text-black">
  <center><h1 style="font-size:30px" >Reviews</h1></center>
  <br>
  <p style="font-size:25px" >ชื่อร้าน : ร้านส้มตำผู้ชายขายหอย สาขาดอนเมือง-เจ้าของแบรนด์</p>
  <br>
  <p style="font-size:20px" >ร้านส้มตำผู้ชายขายหอย สาขาดอนเมือง-เจ้าของแบรนด์ เกิดมาจากจุดกำเนิดร้านส้มตำผู้ชายขายหอย สาขาแรกตั้งอยู่ที่อำเภอเมือง จังหวัดขอนแก่น และในวันนี้ทางเราเจ้าของแบรนด์เจ้าของสูตรเอง ได้มาเปิดสาขาที่กรุงเทพมหานคร ในย่านสรงประภา ดอนเมือง เมนูนี้มีเมนูที่รู้ใจสายแซ่บด้วยการเอาใจคนรักปลาแซลมอน รักปูไข่ดอง ทางร้านบอกว่าได้ใช้ปลาแซลมอนนอร์เวย์ อีกเมนูที่แนะนำคือตำเกาเหลาเน้นปลาร้านัวๆ เท่านี้ยังแซ่บไม่พอยังมีปูไข่ดองด้วยค่ะ ราคาเมนูที่ร้านเฉลี่ยอยู่ที่ (30-200 บาท)</p>
  <p style="font-size:20px">ที่อยู่310 35 ถนนสรงประภา แขวงสีกัน เขตดอนเมือง กรุงเทพมหานคร</p>
  <p style="font-size:20px">เบอร์ติดต่อ091-333xxx9</p>
  <p style="font-size:20px">เวลา เปิด-ปิดเปิดบริการ 16:00 - 23:45 น.</p>
  <p style="font-size:20px">ประเภทร้านSom tum ( ส้มตำ )</p>
</div>

<div class="container p-3 my-3 bg-white text-black">
  <center><h1 style="font-size:30px" >Reviews</h1></center>
  <br>
  <p style="font-size:25px" >ชื่อร้าน :  จะกินอย่าบ่น ครุยซีน แอนด์ บาร์</p>
  <br>
  <p style="font-size:20px" > จะกินอย่าบ่น ครุยซีน แอนด์ บาร์ร้านจะกินอย่าบ่นเป็นแจ็สบาร์ ที่เน้นเครื่องดื่มแต่เสิร์ฟอาหารง่ายๆ แต่มีสไตล์เป็นของตัวเอง เช่น พิชซ่าหน้าเนื้อใจเสือ สตีฟเบอร์เกอร์ หรือ คั่วกลิ้งหมูทอด พร้อมมีวงแจ็สเล็กๆ เล่นสดทุกวันมองจากด้านนอก ตึกสวย เก่า ขลัง เหมือนได้อยู่ในเมืองภูเก็ต ใครชอบตำถาดขอแนะนำ "ตำถาดอย่าบ่น" ถ้าได้ทานเมนูนี้ !! ใครล่ะคะจะกล้าบ่นใช่ไหมคะ ราคาอาหารเฉลี่ยอยู่ที่ 50-300 บาท</p>
  <p style="font-size:20px">ที่อยู่554/1-2 ถนน พระสุเมรุ แขวง วัดบวรนิเวศ เขต พระนคร กรุงเทพมหานคร</p>
  <p style="font-size:20px">เบอร์ติดต่อ02-999-11122</p>
  <p style="font-size:20px">เวลา เปิด-ปิดเปิดบริการ 09:00 - 23:00 น.</p>
  <p style="font-size:20px">ประเภทร้านInternational ( อาหารนานาชาติ )</p>
</div>

<div class="container p-3 my-3 bg-white text-black">
  <center><h1 style="font-size:30px" >Reviews</h1></center>
  <br>
  <p style="font-size:25px" >ชื่อร้าน : กาแฟไม้ป่าเดียวกัน ดื่ม&กิน cafe’</p>
  <br>
  <p style="font-size:20px" >กาแฟไม้ป่าเดียวกัน ดื่ม&กิน cafe’พร้อมได้ฟินกับบรรยากาศมีเสียงนก เสียงธรรมชาติกลางป่าที่ร้านกาแฟไม้ป่าเดียวกันหรือยังคะ? ยิ่งถ้าเจอบรรยากาศหลังฝนตก บรรยากาศดีชวนง่วงมากเลยจริงๆ ยิ่งมานั่งที่ร้านยิ่งสดชื่นสบายสุดๆ นั่งเล่นๆ มองเห็นวิวเขา วิวปัง อาหารเครื่องดื่มโดนใจแบบนี้มีหรือจะพลาดได้... เมนูน่าสั่งที่อยากแนะนำ "ชาเขียวมัทฉะเย็น" (80 บาท) "คาปูชิโน่เย็น" (75 บาท) หรือจะลองเมนูเพิ่มน้ำตาลกับของหวานอีกมากมาย ของหวานอย่างเมนูแพนเค้ก (99 บาท) เมนูวาฟเฟิล (119 บาท) หรือจะเป็นของคาวสปาเกตตีทะเลเดือด อีกเมนูที่ห้ามพลาดคือเมนูนี้ห้ามพลาด‼️ "ตำไม้ป่าเดียวกัน" ปูปลาร้าแซ่บๆ ตำไทยก็น่าลอง คาเฟ่สวยยังมีส้มตำแซ่บๆ แบบนี้ต้องมาลองให้หายคิดถึงเชียงใหม่ค่ะ</p>
  <p style="font-size:20px">ที่อยู่บ้านบนดอยโฮมสเตย์ 69/1 ม.10 บ.โฮ่งนอก ต.แม่แรม อ.แม่ริม เชียงใหม่</p>
  <p style="font-size:20px">เบอร์ติดต่อ094-8882323</p>
  <p style="font-size:20px">เวลา เปิด-ปิดเปิดบริการ 08.00-17.00 น. (หยุดทุกวันอังคาร)</p>
  <p style="font-size:20px">ประเภทร้านCoffee ( กาแฟ )</p>
</div>

<div class="container p-3 my-3 bg-white text-black">
  <center><h1 style="font-size:30px" >Reviews</h1></center>
  <br>
  <p style="font-size:25px" >ชื่อร้าน : พอกินได้</p>
  <br>
  <p style="font-size:20px" >ชื่อร้านอาจจะชื่อพอกินได้ แต่ว่ารสชาติได้ไม่ได้แต่เมนูเพียบทั้งก๋วยเตี๋ยวหมูน้ำตกรสเด็ดมาพร้อมน้ำซุปดำข้นขลุกขลิก แถมยังเสิร์ฟชามเล็กๆ กะทัดรัดน่ารักสไตล์ก๋วยเตี๋ยวน้ำตก แถมยังมีเมนูอีกมากมายทั้งติ่มซำร้อนๆ น่าทาน ติ่มซำราคาเริ่มที่ 20 บาท ส่วนก๋วยเตี๋ยวเริ่ม 35 บาท และตอนนี้เมนูเครื่องดื่มทางร้านมีไข่มุกแล้วนะคะ มาลองกันได้เสมอจ้า ^^</p>
  <p style="font-size:20px">ที่อยู่คลอง 2 ลำลูกกา ม.รินทร์ทอง ซ.7 ตำบลคูคต อำเภอลำลูกกา ปทุมธานี</p>
  <p style="font-size:20px">เบอร์ติดต่อ02-111-23239</p>
  <p style="font-size:20px">เวลา เปิด-ปิดเปิดบริการ 06:00-16:00 น.</p>
  <p style="font-size:20px">ประเภทร้านNoodles ( ก๋วยเตี๋ยว บะหมี่ )Order rice and curry ( อาหารจานเดียว ตามสั่ง ข้าวแกง )Dimsum ( ติ่มซำ )Coffee ( กาแฟ )</p>
</div>

<div class="container p-3 my-3 bg-white text-black">
  <center><h1 style="font-size:30px" >Reviews</h1></center>
  <br>
  <p style="font-size:25px" >ชื่อร้าน : หมึกโวยวาย</p>
  <br>
  <p style="font-size:20px" >หมึกโวยวาย มากินหมึกกันจ้าแวะ หมึกโวยวายขนาดตัวบิ๊กบึ้มทานพร้อมกับน้ำจิ้มสุดแซ่บโดนใจ เพราะความอร่อยแน่ๆ ถ้าไม่ได้มาทานหัวใจโวยวายเพราะความหิวโหยแน่ๆ เลย มีให้เลือก 2 ราคา ชุดเล็ก 50 บาท ชุดใหญ่ 100 บาท ร้านพร้อมเสิร์ฟหมึกโวยวายตั้งแต่เวลา 17.00-23.00 น. ค่ะ</p>
  <p style="font-size:20px">ที่อยู่ตลาดอินดี้ ปิ่นเกล้า ซอย จรัญสนิทวงศ์ 51 แขวง บางบำหรุ เขต บางพลัด กรุงเทพมหานคร</p>
  <p style="font-size:20px">เบอร์ติดต่อ091-768-2698</p>
  <p style="font-size:20px">เวลา เปิด-ปิดเปิดบริการ 17.00-23.00 น.</p>
  <p style="font-size:20px">ประเภทร้านSeafood ( อาหารทะเล )</p>
</div>

<div class="container p-3 my-3 bg-white text-black">
  <center><h1 style="font-size:30px" >Reviews</h1></center>
  <br>
  <p style="font-size:25px" >ชื่อร้าน : กินหัวมันส์@ตลาดนัดหัวมุม</p>
  <br>
  <p style="font-size:20px" >กินหัวมันส์@ตลาดนัดหัวมุม สำหรับใครที่ชอบทานอาหารซีฟู้ดต้องร้านนี้เลย แดกหัวมันส์ ตลาดนัดหัวมุม ร้านตั้งอยู่ภายในตัวตลาดโซนของกิน ซึ่งนอกจากอาหารทะเลแต่ละอย่างของทางร้านจะสดใหม่แล้ว ไซส์ยังใหญ่อีกด้วยอย่างกุ้งแม่น้ำ หอยแครง และปลาหมึก จุดเด่นของทางร้านเห็นจะเป็นเมนูกุ้งเผาที่ส่วนหัวมีมันเยิ้มออกมา เมื่อทานคู่กับน้ำจิ้มซีฟู้ดบอกเลยฟินสุดๆ ราคาเมนูทางร้านเริ่มต้นที่ 100 บาทขึ้นไปจ้า </p>
  <p style="font-size:20px">ที่อยู่ถนน ประเสริฐมนูกิจ ลาดพร้าว กรุงเทพมหานคร 10230</p>
  <p style="font-size:20px">เบอร์ติดต่อ092-1119998</p>
  <p style="font-size:20px">เวลา เปิด-ปิดเปิดให้บริการ 17.30 - 24.00 น.</p>
  <p style="font-size:20px">ประเภทร้านSeafood ( อาหารทะเล )</p>
</div>

<div class="container p-3 my-3 bg-white text-black">
  <center><h1 style="font-size:30px" >Reviews</h1></center>
  <br>
  <p style="font-size:25px" >ชื่อร้าน : ร้านยำมะม่วงแซ่บมาก</p>
  <br>
  <p style="font-size:20px" >ร้านยำมะม่วงแซ่บมา แค่ชื่อก็กินขาด สายยำรออะไรคะทางร้านบอกว่ามีเมนูยำไห้เลือกมากกว่า 23 รายการ ส่วนเมนูเด็ดมี ยำมะม่วง ยำปูจืด ยำปูม้า ยำลูกชิ้น ยำกุ้งสด ยำไข่เค็ม ยำมาม่า ยำวุ้นเส้น ราคาอาหารเริ่มที่ (45 บาท) เป็นยำมะม่วงที่แซ่บมากบอกเลย ทุกคนต้องได้มากิน</p>
  <p style="font-size:20px">ที่อยู่สามารถเช็คตารางทัวร์ได้ที่ Facebook ของร้าน</p>
  <p style="font-size:20px">เบอร์ติดต่อ097-0009995</p>
  <p style="font-size:20px">เวลา เปิด-ปิดสามารถเช็ควัน-เวลาเปิดร้านในคิวงานแต่ละวันได้ทางเฟสบุ๊คร้าน</p>
  <p style="font-size:20px">ประเภทร้านfood truck ( ฟู๊ดทรัค )Yum ( ยำ )</p>
</div>

<div class="container p-3 my-3 bg-white text-black">
  <center><h1 style="font-size:30px" >Reviews</h1></center>
  <br>
  <p style="font-size:25px" >ชื่อร้าน : ATM Tea Bar</p>
  <br>
  <p style="font-size:20px" >  ร้านเครื่องดื่มสุดชิคสุดเก๋ย่านสยามสเเควร์ ซอย 9 ที่ลืมไปเลยจ้ากับการสั่งเครื่องดื่มทานเเบบเดิมๆ เพราะร้านนี้มีรูปแบบการสั่งเเบบตู้ ATM จ้า คือที่ร้านจะมีตู้สำหรับกดสั่งก่อน อยากได้แบบไหนก็กดสั่ง จากนั้นเครื่องก็จะออกใบเสร็จให้เรานำไปรับครื่องดื่มค่ะ โหย...เเค่พูดก็รู้สึกอยากทานเเล้วใช่ไหมล่ะค๊าา ? เครื่องดื่มก็มีให้เลือกหลากหลายเมนูค่ะ ราคาเริ่มต้นที่ 85-100 บาท เมนูเเนะนำ : Galaxy Lemon Tea ,Summer Paradise ,Pink Matcha , Uji Matcha เเละ เมนูซิกเนเจอร์ของร้าน Taste of Hokkaido</p>
  <p style="font-size:20px">ที่อยู่432/9 สยามสแควร์ ซอย 9 (ตรงข้ามศูนย์หนังสือจุฬาฯ) เเขวงปทุมวัน เขตปทุมวัน กรุงเทพฯ</p>
  <p style="font-size:20px">เบอร์ติดต่อ092-1118893</p>
  <p style="font-size:20px">เวลา เปิด-ปิดเปิดบริการ 10.30-20.30 น.</p>
  <p style="font-size:20px">ประเภทร้านBeverages Juice Tea ( น้ำผลไม้ เครื่องดืม ชานม ไข่มุก )</p>
</div>

</body>
</html>

</div>

</body>
</html>