<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant - TastyYummy</title>
    <link rel="icon" type="image/png" href="https://www.flaticon.com/svg/static/icons/svg/2452/2452100.svg">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>
<style>

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
 /* เปลี่ยนขนาดรูปภาพ */
.hero-image {
  background-color: #fdffd1;
  height: 700%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #ffcff4;
}

.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #fff68f;
  color: #333;
}

</style>
</head>
<body>

<div class="topnav">
  <a class="active" href="/index">Tasty Yummy</a>
  <a class="nav-link" href="/index">Home <span class="sr-only"> </span></a>
  <a href="/signup">Signup</a>
  <a href="/">Login</a>
  <a href="/logout">Logout</a>
  <a href="/drink">Drink</a>
  <p style="text-align:right">  สวัสดี! {{user}}</p>
</div>
<div class="hero-image">
 <div class="container">
  <br><div class="card"></br>
    <center><div style="font-size:35px" class="card-body">รีวิวร้านอาหาร</div></center>
    <center><div style="font-size:25px" class="card-body">กระเพาะปลาคาเธ่ย์ กระเพาะปลาเครื่องแน่นตำนานย่านเยาวราช </div></center>
    <center><img src="https://www.ryoiireview.com/upload/editor_review/big/202010/1602750827_big_3734b14b4e936af347826f9d94f4ff1c.jpg" alt="dropdown"></center>
    <p style="font-size:20px" class="card-text"> <br> &nbsp;&nbsp;เมนู และราคาอาหาร</br<> <br>&nbsp;&nbsp;เมนูของทางร้านกระเพาะปลาคาเธ่ย์นั้นจะมีเพียงเมนูเดียวเลยคือกระเพาะปลาค่ะ ซึ่งถึงแม้จะมีเพียงเมนูเดียว แต่กระเพาะปลาของทางร้านนั้นมีวัตถุดิบ และรสชาติที่แตกต่างจากร้านๆ อื่น ทำให้ลกค้า  สำหรับกระเพาะปลาของทางร้านจะเป็นกระเพาะปลาฟิวชั่น โดยมีการนำสูตรของ ''หูฉลาม'' มาปรับใช้จนได้รสชาติที่ลงตัวออกมาเป็นกระเพาะปลาคาเธ่ย์แบบไม่ซ้ำใครค่ะ ทั้งในส่วนของน้ำซุปที่ทางร้านเลือกซุปกระดูกไก่เคี่ยวนาน 3 ชม. เพื่อให้ได้น้ำซุปที่เข้มข้นแบบเดียวกับซุปหูฉลาม และท็อปปิ้งที่ค่อนข้างหลากหลายทั้งหอยเป่าฮื้อสไลซ์, เนื้อปูก้อน, ไก่ชิ้น และไข่นกกระทา</br>
    <br>&nbsp;โดยทางร้านจะมีเมนูกระเพาะปลาให้เลือกทานหลายราคา ดังนี้ กระเพาะปลา ธรรมดา 40 บาท, กระเพาะปลา พิเศษ 50 บาท, กระเพาะปลาใส่ปู 60 บาท, กระเพาะปลาใส่เป่าฮื้อ+ปู 70 บาท และกระเพาะปลารวมมิตร 80 บาทค่ะทั้งหน้าใหม่หน้าเก่ากลับมาทานอย่างไม่ขาดสายค่ะ</br>
    <br>&nbsp;ข้อมูลเพิ่มเติม และข้อเสนอแนะ</br>
    <br>&nbsp;&nbsp;1. ร้านเปิดให้บริการเวลา 08.00-13.00 น. ของทุกวัน แต่โดยส่วนใหญ่แล้วจะขายเพียงแค่ 3 ชม. เพราะของจะหมดก่อนเวลาค่ะ แนะนำให้ไปร้านก่อน 12.00 น.</br>
    <br>&nbsp;&nbsp;2. ทางร้านมีบริการรับทำออเดอร์สำหรับจัดเลี้ยงในปริมาณเยอะ ใครที่สนใจสามารถติดต่อสอบถามกับทางร้านได้โดยตรง</br>
    <br>&nbsp;&nbsp;3. ทางร้านไม่มีที่จอดรถบริการ แนะนำให้นำไปจอดที่โลตัส</br>
    <br> &nbsp;&nbsp;ที่อยู่ : 663 ถนนมังกร แขวงสัมพันธวงศ์ เขตสัมพันธวงศ์ กรุงเทพมหานคร 10100 ต. สัมพันธวงศ์ อ. เขตสัมพันธวงศ์ จ. กรุงเทพมหานคร ประเทศ Thailand</br>
    <br> &nbsp;&nbsp;ช่วงเวลา :เปิดบริการทุกวัน 08.00-13.00 </br>
    <br>  <div class="card"> </br>
   <center><div style="font-size:25px" class="card-body">&nbsp;โจ๊กสะพานหัน โจ๊กเตาถ่านสูตรลับความอร่อยจากรุ่นสู่รุ่นมากว่า 45 ปี </div></center>
    <center><img src="https://www.ryoiireview.com/upload/editor_review/big/202010/1601984473_big_7aeb7fa142511dcf7c1d0c7ceed0383c.jpg" alt="dropdown"></center>
    <p style="font-size:20px" class="card-text"> <br>&nbsp;&nbsp;เมนู และราคาอาหาร </br> <br>&nbsp;&nbsp;เมนูของทางร้านโจ๊กสะพานหันจะมีเพียงเมนูเดียวคือเมนูโจ๊ก ซึ่งจุดเด่นของโจ๊กที่ร้านก็คือทางร้านเลือกใช้กรรมวิธีแบบดั้งเดิมคือการต้มด้วยเตาถ่าน ซึ่งต้องอาศัยความเอาใจใส่ และพิถีพิถันเป็นอย่างมาก เพราะต้องคอยคนโจ๊กอยู่ตลอดเวลาเพื่อไม่ให้โจ๊กไหม้ติดหม้อค่ะ แต่จะได้มาซึ่งความร้อนยาวนาน และโจ๊กข้นเหนียวแตกต่างจากร้านอื่นๆ ซึ่งเป็นจุดที่ทำให้ลูกค้าติดใจจนต้องกลับมาซื้ออยู่บ่อยๆ ค่ะ นอกจากนี้ทางร้านยังเลือกต้มโจ๊กในน้ำซุปกระดูกหมูเคี่ยวนานถึง 2 ชม. เพื่อให้ตัวโจ๊กมีรสชาติเค็มกำลังดีอีกด้วยค่ะ </br>
    <br>  &nbsp;สำหรับโจ๊กของทางร้านจะมีเครื่องให้เลือกแบบหลากหลาย โดยทางร้านจะมีการซื้อสดใหม่ทุกวันทั้งไข่ลวก, ตับ, ไส้อ่อน, กระเพาะหมู, หมูบะช่อ, ขิงสับ, ต้นหอม และปาท่องโก๋ทุบค่ะ โดยลูกค้าสามารถเลือกได้เลยว่าจะใส่เครื่องอะไรบ้าง สำหรับราคาโจ๊กจะมีราคาดังนี้ค่ะ โจ๊กไม่ใส่ไข่ ธรรมดา 40 บาท พิเศษ 50 บาท และโจ๊กใส่ไข่ ธรรมดา 45 บาท พิเศษ 50 บาท </br>
    <br>&nbsp;ข้อมูลเพิ่มเติม และข้อเสนอแนะ </br>
    <br>&nbsp;&nbsp;1. สำหรับใครที่ไม่สะดวกมาทานที่ร้าน สามารถโทรมาสั่งโจ๊กกับทางร้านได้โดยตรง และเรียกบริการรับส่งเพื่อมารับอาหารที่ร้านได้ค่ะ</br>
    <br>&nbsp;&nbsp;2. ร้านโจ๊กสะพานหันเปิดให้บริการวันจันทร์-วันเสาร์ตั้งแต่ 16.00-21.00 น. (หยุดวันอาทิตย์) แต่แนะนำให้มาก่อน 20.00 น. ค่ะ เพราะของอาจจะหมดก่อนเวลา</br>
    <br> &nbsp;&nbsp;ที่อยู่ :ถนนจักรวรรดิ แขวงจักรวรรดิ์ เขตสัมพันธวงศ์ กรุงเทพมหานคร 10100 ต. จักรวรรดิ อ. เขตสัมพันธวงศ์ จ. กรุงเทพมหานคร ประเทศ Thailand</br>
    <br> &nbsp;&nbsp;ช่วงเวลา :เปิดบริการวันจันทร์-วันเสาร์ 16.00-21.00 น.(ปิดวันอาทิตย์)</br>
    <br>  <div class="card"> </br>
  <center><div style="font-size:25px" class="card-body">&nbsp;ขนมบ้านบัวหอม คาเฟ่ขนมเปี๊ยะ พร้อมเสิร์ฟขนมเปี๊ยะไส้แน่นจากวัตถุดิบท้องถิ่นคุณภาพดี ปี </div></center>
    <center><img src="https://www.ryoiireview.com/upload/editor_review/big/202009/1600661131_big_56326060b68c1c894078ac88ef6019fc.jpg" alt="dropdown"></center>
    <p style="font-size:20px" class="card-text"> <br>&nbsp;&nbsp;เมนู และราคาอาหาร </br> <br>&nbsp;&nbsp;คาเฟ่ขนมบ้านบัวหอมนั้นเป็นหนึ่งร้านที่มีเมนูขนมหวานให้เลือกหลากหลายทั้งขนมเปี๊ยะ บิงซู และคุกกี้รสชาติต่างๆ แต่ถ้าหากจะพูดถึงเมนูหลักก็คงหนีไม่พ้น ขนมเปี๊ยะที่มีเสิร์ฟทั้งแบบเป็นเซ็ต และสั่งแยกเดี่ยวๆ โดยลูกค้าสามารถเลือกรสชาติขนมเปี๊ยะได้ตามชอบ และนอกจากจะมีเมนูที่เหมาะสำหรับนั่งทานที่ร้านแล้ว ทางร้านยังมีขนมเปี๊ยะแบบเป็นเซ็ตสินค้าในรูปแบบซื้อกลับบ้าน อีกหนึ่งทางเลือกสำหรับใครที่อยากจะหอบหิ้วของอร่อยๆ ติดไม้ติดมือกลับบ้านค่ะ  </br>
    <br> &nbsp;นอกเหนือจากเมนูขนมเปี๊ยะ และของหวานแล้ว ทางร้านก็ยังมีเมนูอื่นๆ พร้อมเสิร์ฟทั้งโทสต์ กาแฟลาวพรีเมียม กาแฟพรีเมียม สมูทตี้ อิตาเลียนโซดา เครื่องดื่มประเภทนม เครื่องดื่มประเภทชา และของทานเล่น ซึ่งในส่วนของเมนูทานเล่นนี้ทางร้านก็ยังมีออฟชั่นเสริมให้เลือกทั้งแบบรสชาติธรรมดา และแบบปรุงรสหม่าล่า ขอแอบกระซิบบอกนิดนึงว่าหม่าล่าของทางร้านยังเป็นหม่าล่าคัดพิเศษจากเครื่องเทศหลากหลายชนิดอีกด้วยนะคะ </br>
    <br>&nbsp;ข้อมูลเพิ่มเติม และข้อเสนอแนะ </br>
    <br>&nbsp;&nbsp;1.ทางร้านมีเพียงสาขาเดียวที่ราชบุรีที่เป็นคาเฟ่ แต่สำหรับสาขาอื่นในกทม.จะเป็นบริการแบบซื้อกลับบ้านเท่านั้นค่ะ</br>
    <br>&nbsp;&nbsp;2. พื้นที่ภายในร้านอาจจะไม่ได้มีขนาดใหญ่มาก ถ้ามีลูกค้าเข้ามาใช้บริการจำนวนมาก อาจจะไม่ได้มีพื้นที่ให้เลือกนั่งเท่าไหร่ค่ะ</br>
    <br>&nbsp;&nbsp;3. ตัวร้านอาจจะไม่ได้เป็นที่สังเกตเท่าไหร่นัก เพราะร้านตั้งอยู่ในปั๊ม และอยู่ห่างจากตัวเมืองราชบุรีประมาณ 30 กม.ค่ะ</br>
    <br> &nbsp;&nbsp;ที่อยู่ :ปั๊ม Shell ถนนสมุทรสมุทรสงคราม-บางแพ 168 หมู่ 1 ตำบลหัวโพ อำเภอบางแพ ราชบุรี 70160 ต. หัวโพ อ. บางแพ จ. ราชบุรี ประเทศ Thailand</br>
    <br> &nbsp;&nbsp;ช่วงเวลา :เปิดบริการทุกวัน 07.00-18.00 น.</br>
    <br>  <div class="card"> </br>
  <center><div style="font-size:25px" class="card-body"> &nbsp;ร้าน IKKYU Yakiniku ร้านปิ้งย่างสไตล์ญี่ปุ่นเนื้อโกเบพรีเมียมนำเข้าจากญี่ปุ่น </div></center>
    <center><img src="https://www.ryoiireview.com/upload/editor_review/big/202009/1600243883_big_addc9fefc61bc84aa5ef963593d8d704.jpg" alt="dropdown"></center>
    <p style="font-size:20px" class="card-text"> <br>&nbsp;&nbsp;เมนู และราคาอาหาร </br> <br>&nbsp;&nbsp;อาหารของที่ร้านก็มีให้เลือกอีกมากมาย ไม่ว่าจะเป็นซีฟู้ด หมู ไก่ และเครื่องเคียงต่างๆ รวมไปถึงเมนูทานเล่น และความพิเศษอีกอย่างของที่ร้านคือน้ำจิ้มค่ะ โดยน้ำจิ้มของร้านจะเป็นสูตรเฉพาะ ในส่วนของเตาย่างทางร้านเลือกใช้ถ่านจากไม้โกงกางซึ่งเป็นถ่านที่ทำจากไม้จริง ทำให้เวลาย่างเนื้อมีความหอมควันถ่านมากกว่าร้านทั่วไป  </br>
    <br>  &nbsp;ร้าน IKKYU Yakiniku Phahonyothin (สาขา 2) เป็นร้านปิ้งย่างสไตล์ญี่ปุ่นที่เปิดในโครงการ The Hub Phahol-Ari โดยบรรยากาศภายในร้านมีการตกแต่งสไตล์โมเดิร์น มีกลิ่นอายความเป็นญี่ปุ่นสามารถรองรับลูกค้าได้ถึง 40 คน โดยมีทั้งหมด 8 โต๊ะ กับ 13 เตา อีกทั้งยังมีห้อง VIP 1 ห้อง สำหรับลูกค้าที่มาเป็นครอบครัวสามารถโทรไปจองห้อง VIP ได้ โดยในส่วนนี้ไม่มีค่าใช้จ่ายเพิ่มเติมค่ะ </br>
    <br>&nbsp;ข้อมูลเพิ่มเติม และข้อเสนอแนะ </br>
    <br>&nbsp;&nbsp;1.ทางร้านไม่มีห้องน้ำให้บริการ เนื่องจากตั้งอยู่ในโครงการ สำหรับลูกค้าที่ต้องการเข้าห้องน้ำ สามารถเข้าห้องน้ำของโครงการ The Hub Phahol-Ari ได้ ซึ่งอยู่ไม่ไกลจากร้านมากนัก </br>
    <br>&nbsp;&nbsp;2.ห้อง VIP ของทางร้านมีเพียง 1 ห้อง สำหรับลูกค้าท่านไหนที่อยากได้ความเป็นส่วนตัว ควรโทรไปจองโต๊ะล่วงหน้าได้ที่ร้าน ไม่มีค่าใช้จ่ายเพิ่มค่ะ</br>
    <br> &nbsp;&nbsp;ที่อยู่ :The Hub Phahol-Ari 466, 9 ถ. พหลโยธิน แขวง สามเสนใน เขตพญาไท กรุงเทพมหานคร 10400 ต. สามเสนใน อ. เขตพญาไท จ. กรุงเทพมหานคร ประเทศ Thailand</br>
    <br> &nbsp;&nbsp;ช่วงเวลา :เปิดให้บริการ วันจันทร์-ศุกร์ 11.00-14.00 น. และ 17.00-22.00 น. วันศุกร์-อาทิตย์ 11.00-22.00 น.</br>


</div>

</div>

</body>
</html>